body {
  font-family: "Oswald", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
  background: url("../img/Group 17.jpg");
}

.header-top{
padding-top: 47px;
display: flex;
justify-content: space-between;
align-items: center;
}
.header-top-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-transform: uppercase;
color: #ffff;
}
.header-box{
    display: flex;
    justify-content: space-between;
}
.header-title{
    max-width: 762px;
    margin-top: 105px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 72px;
text-transform: uppercase;
color: #ffff;
}
.header-text{
    margin-top: 7px;
    max-width: 690px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-transform: uppercase;
color: #ffff;
}
.header-subtext{
    font-family: var(--font-family);
font-weight: 300;
font-size: 18px;
color: #ffff;
margin-top: 30px;
}
.header-btn{
    font-family: var(--font-family);
font-weight: 300;
font-size: 14px;
text-transform: uppercase;
color: #ffff;
padding: 15px 55px;
margin-top: 30px;
background-color: #5A0D67;
border: none;
}
.header-btn:hover {
    background-color: #ffff;
    color: #5A0D67;
}
.btn-list-box{

}
.header-social-list{
    margin-top: 73px;
    display: flex;
    gap: 14px;
    margin-bottom: 118px;
    align-items: center;
}
.header-box-right{
position: relative;
}
.header-box-car-img{
position: absolute;
top: 338px;
right: 0;
}

.service-title{
    margin-top: 300px;
    margin-bottom: 50px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-transform: uppercase;
color: #21062A;
    display: flex;
    align-items: center;
    gap: 10px;
}
.service-title::after{
    content: "";
    border-top: 3px solid #21062A;
width: 80px;
}
.service-box{
    display: flex;
    gap: 96px;
}
.service-box-left-list{
    display: flex;
    flex-direction: column;
    gap: 69px;
    margin-bottom: 50px;
    
}
.servive-left-item-title{
    font-family: var(--font-family);
font-weight: 300;
font-size: 18px;
color: #5A0D67;
margin-bottom: 12px;
}
.service-left-item-text{
    font-family: var(--font-family);
font-weight: 300;
font-size: 18px;
color: #2C2B2B;
max-width: 504px;
}
.why-part-1{
    margin-bottom: 12px;
}
.service-btn-box{
    display: flex;
    gap: 85px;
    align-items: center;
}
.service-btn{
      font-family: var(--font-family);
font-weight: 300;
font-size: 14px;
text-transform: uppercase;
color: #ffff;
padding: 15px 55px;
background-color: #5A0D67;
border: none;
position: relative;
}
.service-btn:hover {
    background-color: #ffff;
    color: #5A0D67;
}
.service-btn::after{
    content: "";
    display: inline-block;
    border: 1px solid #C4C4C4;
width: 80px;
height: 0px;
position: absolute;
top: 25px;
right: -75px;
}
.service-btn-box-text{
    font-family: var(--font-family);
font-weight: 300;
font-size: 14px;
text-transform: uppercase;
color: #C4C4C4;
}
.service-box-right-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.service-right-list-item{
    display: flex;
    border: 1px solid #C4C4C4;
padding: 10px 20px;
box-sizing: border-box;
}
.item-2 {
padding-right: 48px;
}
.item-3{
    padding-right: 19px;
}
.item-4{
    padding-right: 71px;
}
.item-5{
    padding-right: 104px;
}
.item-6{
    padding-right: 111px;
}
.service-right-list-item:hover{
border: 2px solid #5A0D67;
max-width: 500px;
padding-right: 112px;
}
.service-item-text-num{
    font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-transform: uppercase;
color: #C4C4C4;
transform: rotate(-90deg);
margin-right: 40px;
}
.service-right-item-title{
    font-family: var(--font-family);
font-weight: 300;
font-size: 24px;
color: #2C2B2B;
}
.service-right-item-text{
    font-family: var(--font-family);
font-weight: 300;
font-size: 18px;
color: #2C2B2B;
}
.section-why{
    margin-top: 100px;
}
.why-box{
    display: flex;
    justify-content: space-between;
}
.why-title{
    color: #21062A;
    font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-transform: uppercase;
text-align: center;
margin-bottom: 74px;
}
.why-title::after{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    content: "";
    border: 3px solid #21062A;
width: 80px;
height: 0px;
}
.why-box-list{
    background: #21062A;
    padding-left: 185px;
    padding-right: 284px;
    padding-top: 23px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.why-box-item-subtitle{
    font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-transform: uppercase;
color: #ffff;
}
.why-box-item-title{
    font-family: var(--font-family);
font-weight: 300;
font-size: 24px;
color: #ffff;
margin-top: 10px;
}
.why-box-item-text{
    font-family: var(--font-family);
font-weight: 300;
font-size: 18px;
color: #C4C4C4;
max-width: 316px;
margin-top: 10px;
}

.cars-title{
    font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-transform: uppercase;
color: #21062A;
margin-bottom: 49px;
margin-top: 100px;
}
.cars-title::after{
    content: "";
    display: inline-block;
    border: 3px solid #21062A;
width: 80px;
margin-left: 10px;
 vertical-align: middle;
}
.cars-list{
    display: flex;
    gap: 14px;
    margin-bottom: 50px;
}
.cars-item-img{
    width: 100%;
}
.cars-list-item{
    border: 1px solid #C4C4C4;
padding: 4px;
text-align: center;
}
.cars-list-item:hover{
    border: 1px solid #5A0D67;
    background: #5A0D67;
}
.cars-item-title{
    font-family: var(--font-family);
font-weight: 300;
font-size: 18px;
color: #2C2B2B;
margin-top: 23px;
margin-bottom: 5px;
}

.cars-item-text{
    font-family: var(--font-family);
font-weight: 300;
font-size: 18px;
color: #2C2B2B;
margin-bottom: 11px;
}
.cars-list-item:hover .cars-item-text {
    color: #ffff;
}
.cars-list-item:hover .cars-item-title{
    color: #ffff;
}
.footer-box{
    display: flex;
    justify-content: space-between;
}
.footer-title{
    margin-top: 150px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-transform: uppercase;
color: #21062A;
margin-bottom: 50px;
}
.footer-title::after{
    content: "";
    display: inline-block;
    border: 3px solid #21062A;
width: 80px;
margin-left: 15px;
vertical-align: middle;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-item-title{
    font-family: var(--font-family);
font-weight: 300;
font-size: 18px;
color: #5A0D67;
}
.footer-item-text{
    font-family: var(--font-family);
font-weight: 300;
font-size: 18px;
color: #2C2B2B;
margin-top: 8px;
}
.footer-box-right{
    margin-top: 100px;
    background: #21062A;
    padding-left: 75px;
    padding-right: 75px;
}
.footer-box-right-title{
    font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
text-transform: uppercase;
color: #ffff;
text-align: center;
margin-top: 50px;
margin-bottom: 16px;
}
.footer-box-right-title::after{
    content: "";
    border: 3px solid #ffff;
width: 80px;
margin-left: 10px;
display: inline-block;
vertical-align: middle;
}
.footer-input-name{
    display: block;
    margin: 0 auto;
    border: 1px solid #ffff;
padding: 24px 0;
width: 450px;
background: #21062A;
text-align: center;
background: rgba(196, 196, 196, 0);
margin-top: 12px;
font-family: var(--font-family);
font-weight: 300;
font-size: 18px;
color: #C4C4C4;
}
.footer-input-phone{
    display: block;
    margin: 0 auto;
    border: 1px solid #ffff;
padding: 24px 0;
width: 450px;
background: #21062A;
text-align: center;
background: rgba(196, 196, 196, 0);
margin-top: 12px;
font-family: var(--font-family);
font-weight: 300;
font-size: 18px;
color: #C4C4C4;
}
.footer-btn{
    font-family: var(--font-family);
font-weight: 300;
font-size: 14px;
text-transform: uppercase;
color: #ffff;
background: #5A0D67;
text-align: center;
padding: 13px 74px;
border: none;
display: block;
margin: 0 auto;
 margin-top: 78px;
margin-bottom: 57px;
}
.footer-bottom-background{
   background: #21062A; 
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 41px;
    padding-bottom: 33px;
}
.footer-bottom-list{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 120px;
}
.footer-bottom-link{
    text-decoration: none;
    font-family: var(--font-family);
font-weight: 300;
font-size: 18px;
color: #ffff;
}